.navbar {
  position: sticky;
  top: 0;
  background: #222;
  padding: 15px;
  color: white;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.logo {
  font-size: 20px;
}

/* Menu */
ul {
  display: flex;
  list-style: none;
  gap: 20px;
}


 a {
  color: white;
  cursor: pointer;
  &:hover {
    color: #f0a500;
  }
  text-decoration: none;
}

.header-img {
  
  width: 300px;
  height: 100px;
  object-fit: cover; /* KEY property */
  top: 0;
  left: 0;
  

}
/* Mobile Menu Button */
.menu-toggle {
  display: none;
  font-size: 24px;
  cursor: pointer;
  
}

/* 🔽 Responsive for Mobile */
@media (max-width: 768px) {
  .menu-toggle {
    display: block;
    
  }

  ul {
    width: 100%;
    flex-direction: column;
    display: none;
    background: #222;
    margin-top: 10px;
    padding: 10px 0;
  }

  ul.active {
    display: flex;
  }

  ul li {
    text-align: center;
    padding: 10px 0;
  }

  .header-img {
    order: -1;
    margin-bottom: 10px;
  }
}





