<header class="navbar">
  <nav>
    <h2 class="logo">MyPortfolio</h2>

  <img class="header-img" src="assets/name.jpg" alt="Sarita's about image" />

   <!-- Mobile Menu Button -->
    <div class="menu-toggle" (click)="toggleMenu()">
      ☰
    </div>
   
    <ul [class.active]="isMenuOpen">
      <li><a (click)="scroll('about'); closeMenu()">About</a></li>
      <li><a (click)="scroll('projects'); closeMenu()">Projects</a></li>
      <li><a (click)="scroll('contact'); closeMenu()">Contact</a></li>
    </ul>
  </nav>
</header>
