.home-container{
     background-image: url('/assets/home.jpg');
     background-size: cover;
     background-position: center;
     height: 100vh;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     color: white;
     text-align: center;
     padding: 80px 20px;
}